<div class="my-account">
  <div class="my-account-container">
    <div class="my-account-header">
      <div class="my-avatar-block">
        <img src="assets/images/test.png"/>
      </div>
      <div class="my-account-info">
        <div class="user-info">
          <div class="user-name">
            <span>{{user.name}} {{user.surname}}</span>
          </div>
          <div class="user-date">
            <span>Birthday: </span><span>{{user.date_of_birth}}</span>
          </div>
          <div class="user-country">
            <span>Country: </span><span>{{user.country}}</span>
          </div>
        </div>
        <div class="user-statistics">
          <div class="user-balance">
            <div class="amount">{{user.balance}} SAB</div>
            <div class="title">Balance</div>
          </div>
          <div class="user-friends">
            <div class="amount">36</div>
            <div class="title">Friends</div>
          </div>
          <div class="user-messages">
            <div class="amount">1024</div>
            <div class="title">Messages</div>
          </div>
        </div>
      </div>
      <div class="account-actions">
        <div class="action" *ngIf="!isGuest">Edit Account</div>
        <div class="action" *ngIf="isGuest">Make Friends</div>
        <div class="action" (click)="openTextBlock('post')">Create Post</div>
        <div class="action" (click)="openTextBlock('message')">Send Message</div>
      </div>
    </div>
    <div class="create-post-block" *ngIf="onCreatePost">
      <div class="edit-part">
        <img src="assets/images/test.png" style="display: inline-block; height: 60px; float: left; margin-right: 20px;">
        <textarea class="form-control" style="width: calc(100% - 80px); float: left; height: 100px;" [(ngModel)]="postText"></textarea>
      </div>
      <div class="clearfix"></div>
      <div class="actions-part" style="padding: 10px 0; ">
        <button class="create-btn" (click)="createPost()">Create</button>
      </div>
    </div>
    <div class="create-post-block" *ngIf="onWriteMessage">
      <div class="edit-part">
        <img src="assets/images/test.png" style="display: inline-block; height: 60px; float: left; margin-right: 20px;">
        <textarea class="form-control" style="width: calc(100% - 80px); float: left; height: 100px;" [(ngModel)]="messageText"></textarea>
      </div>
      <div class="clearfix"></div>
      <div class="actions-part" style="padding: 10px 0; ">
        <button class="create-btn" (click)="sendMessage()">Send</button>
      </div>
    </div>
    <div class="my-account-wall">
      <div class="account-post" *ngFor="let post of posts; let i = index">
        <div class="post-header">
          <div class="post-header-image">
            <img src="assets/images/test.png"/>
          </div>
          <div class="post-header-title">
            <div style="font-weight: bold;">{{post.author_name}}</div>
            <div>{{post.date.substring(0, 10) + ' ' + post.date.substring(11, 19)}}</div>
          </div>
        </div>
        <div class="post-content">
          {{post.text}}
        </div>
        <div class="post-footer">
          <div class="like" (click)="like(i)">
            <img src="assets/images/Like-icon.png"/>
          </div>
          <div class="like-amount">
            {{post.likes}}
          </div>
          <div class="comment" (click)="comment(i)">
            <img src="assets/images/comment.png"/>
          </div>
          <div class="comment-amount">
            {{post.comments}}
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="comments">

        </div>
      </div>
    </div>
  </div>
</div>
