<div class="my-account">
  <div class="my-account-container">
    <div class="my-account-header">
      <div class="my-avatar-block">
        <img src="assets/images/test.png"/>
      </div>
      <div class="my-account-info">
        <div class="user-info">
          <div class="user-name">
            <span>Vladimir Murzac</span>
          </div>
          <div class="user-date">
            <span>Birthday: </span><span>25.01.1995</span>
          </div>
          <div class="user-country">
            <span>Country: </span><span>Moldova</span>
          </div>
        </div>
        <div class="user-statistics">
          <div class="user-balance">
            <div class="amount">6000 SAB</div>
            <div class="title">Balance</div>
          </div>
          <div class="user-friends">
            <div class="amount">36</div>
            <div class="title">Friends</div>
          </div>
          <div class="user-messages">
            <div class="amount">1024</div>
            <div class="title">Messages</div>
          </div>
        </div>
      </div>
    </div>
    <div class="my-account-wall">
      <div class="account-post">
        <div class="post-header">
          <div class="post-header-image">
            <img src="assets/images/test.png"/>
          </div>
          <div class="post-header-title">
            <div style="font-weight: bold;">Vladimir Murzac</div>
            <div>05.02.2018</div>
          </div>
        </div>
        <div class="post-content">
          Post Content Post Content Post Content Post Content Post Content Post Content Post Content Post Content Post Content
          Post Content
          Post ContentPost ContentPost Content Post ContentPost ContentPost ContentPost ContentPost ContentPost Content
        </div>
        <div class="post-footer">
          <div class="like">
            <img src="assets/images/Like-icon.png"/>
          </div>
          <div class="like-amount">
            5
          </div>
          <div class="comment">
            <img src="assets/images/comment.png"/>
          </div>
          <div class="comment-amount">
            2
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="comments">

        </div>
      </div>
    </div>
  </div>
</div>
