.wave-header {
  position: fixed;
  width: 200px;
  height: 100%;
  z-index: 1000;
  transition: all 0.5s;
  overflow: hidden;
}

.wave-header.login {
  width: 0;
}

.header-block {
  height: 100%;
  color: #000 !important;
  background-color: #f1f1f1 !important;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

.header-logo {
  padding-top: 20px;
  height: 80px;
  font-size: 24px;
  text-align: center;
  color: #fff !important;
  background-color: #616161 !important;
}

.header-logo a {
  color: #fff;
}

.header-menu {
  display: block;
  padding: 0;
}

.header-menu li {
  display: block;
  padding: 7px 0 7px 30px;
  font-size: 20px;
}

.header-menu li:hover {
  background: #ccc;
}

.header-menu li.active {
  background: #168ac5;
  color: #fff;
}

.header-menu li a {
  color: #000;
}

.header-menu li span {
  display: block;
  border: 0;
  outline: none;
}


