<div class="wave-header" [ngClass]="{'login': userLocation === '/login'}">
  <div class="header-block">
    <div class="header-container">

      <div class="header-logo">
        <a routerLink="/" class="logo">Socialka!</a>
      </div>

      <div class="header-menu-container">
        <ul class="header-menu">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><span [routerLink]="['/account', user.user_id]">My Account</span></li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><span routerLink="/messages">Messages</span></li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><span [routerLink]="['/friends']">Friends</span></li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><span (click)="logoutHandler()">Logout</span></li>
        </ul>
        <!--<ul class="nav navbar-nav navbar-right">-->
          <!--<li class="dropdown">-->
            <!--<a href="#" class="dropdown-toggle" role="button">Settings <span class="caret"></span></a>-->
            <!--<ul class="dropdown-menu">-->
              <!--<li><a href="#">Profile</a></li>-->
              <!--<li><a href="#">Log out</a></li>-->
            <!--</ul>-->
          <!--</li>-->
        <!--</ul>-->
      </div>
    </div>
  </div>
</div>
